
// orange: #DB7100
// dark blue: #3C4D67
$c1: #3C4D67; 


$base-font-family:				"Segoe UI", "Helvetica Neue", Arial, Helvetica, sans-serif	!default;
$base-font-size:				12px		!default;
$base-background-color:			#FFF		!default;
$base-color:					#333		!default;

$base-header-color:				$c1			!default;
$base-link-color:				$c1			!default;

$base-primary-background-color: $c1			!default;
$base-primary-color:			#FFF		!default;